@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  /* Light Theme Color Variables */
  --primary-color: #195fb8;
  --primary-variant: #39bff9;
  --secondary-color: #6c63ff;
  --on-primary: rgb(250, 250, 250);
  --background: rgb(255, 255, 255);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --header-color: hsla(0, 0%, 100%, 0.9);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-jumbo: 64px;

  /* Media Query Breakpoints */
  --breakpoint-mobile: 480px; /* 320px — 480px: Mobile devices */
  --breakpoint-tablet: 768px; /* 481px — 768px: iPads, Tablets */
  --breakpoint-laptop: 1024px; /* 769px — 1024px: Small screens, laptops */
  --breakpoint-desktop: 1200px; /* 1025px — 1200px: Desktops, large screens */
  --breakpoint-tv: 1201px; /* 1201px and more —  Extra large screens, TV */

  /* z-index Information */
  --navbar-z-index: 100;
  --mobile-drawer-z-index: 99;

  /* h1 to h6 Information */
  --h1-size: 3rem;
  --h2-size: 2.5rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --h1-color: var(--primary-color);
  --h2-color: var(--primary-color);
  --h3-color: var(--primary-variant);
  --h4-color: var(--primary-color);

  /* Font Sizes */
  --button-font-size: 2rem;
  --footer-font-size: 2rem;

  /* Button Variables */
  --button-border-radius: 6px;
  --button-padding: 1rem 2rem;
  --button-font-weight: bold;
  --button-text-transform: uppercase;

  /* Loading Screen */
  --loading-screen-height: 200px;
  --loading-screen-width: 200px;

  /* Footer Variables */
}

.dark-mode-colors {
  --primary-color: #39bff9;
  --primary-variant: #195fb8;
  --secondary-color: #6c63ff;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
  --background: #262828;
  --header-color: hsla(0, 0%, 10%, 0.9);
  --h1-color: var(--primary-color);
  --h2-color: var(--primary-color);
  --h3-color: var(--primary-variant);
  --h4-color: var(--primary-color);
}

/* Color Palettes from 
https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--on-background);
}

#top-header {
  z-index: var(--navbar-z-index);
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--header-color);
}

.header-navigation-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: var(--navbar-z-index);
  /* ADD THE PREVIOUS FOUR LINES OF CODE!!! */
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .header-navigation .header-navigation-logo {} */

/* .header-navigation .header-navigation-links-mobile, */
.header-navigation .header-navigation-links {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacing-large);
  list-style: none;
}

.header-navigation .header-navigation-links-mobile {
  /* display: none; */
  position: relative;
  height: 300px;
  background-color: rgb(255 255 255 / 90%);
  background-color: var(--header-color);
  z-index: var(--mobile-drawer-z-index);
  box-shadow: var(--box-shadow);
  /* background-color: var(--background); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(-100%);
}

.header-navigation .header-navigation-links-mobile li,
.header-navigation .header-navigation-links li {
  position: relative;
}

.header-navigation .header-navigation-links-mobile li::before,
.header-navigation .header-navigation-links li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background-color: var(--primary-color);
  height: 0;
  transform: translate(-50%, -50%);
  transition: height 0.3s ease, width 0.3s ease;
}

.header-navigation .header-navigation-links-mobile li:hover::before,
.header-navigation .header-navigation-links li:hover::before {
  height: 150%;
  width: calc(100% + 30px);
  color: var(--primary-variant);
  z-index: -1;
}

.header-navigation .header-navigation-links-mobile li,
.header-navigation .header-navigation-links-mobile li a,
.header-navigation .header-navigation-links li a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px var(--background);
}

.header-navigation .header-navigation-links-mobile li:hover,
.header-navigation .header-navigation-links-mobile li:hover a,
.header-navigation .header-navigation-links li:hover a {
  color: var(--on-primary);
  text-shadow: none;
  cursor: pointer;
}

.header-navigation-contact {
  text-transform: uppercase;
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--on-primary);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.header-navigation-contact::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: var(--on-primary);
  transform: translateX(-110%) rotate(-45deg);
  transition: transform 400ms;
}

.header-navigation-contact:hover::before {
  transform: translateX(100%) rotate(-45deg);
}

/* Main Content Styles */
/* These styles contain the spacing between sections */
#hero,
#projects,
#components,
#contact {
  padding: var(--spacing-jumbo) var(--spacing-jumbo);
}

/* Shared h2 styles. */
.projects h2,
.components h2,
.contact-form h2 {
  font-size: 2.5rem;
  color: var(--h2-color);
  font-family: "Audiowide", sans-serif;
}

/* Shared paragraph styles. */
.projects p,
.components p,
.components .button-gallery p,
.components .loading-screen-gallery p,
.components .icon-gallery p {
  margin: var(--spacing-small) 0 var(--spacing-large) 0;
  color: var(--on-background);
}

/* The line separating sections. */
.section-separator {
  height: 3px;
  width: 60%;
  background-color: var(--primary-color);
  margin: 0 auto;
}

/* Hero Section Styles */
#hero {
  margin: var(--spacing-jumbo) auto 0 auto;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: var(--spacing-large);
}

.hero .hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 3rem;
  font-family: "Audiowide", sans-serif;
  color: var(--h1-color);
  margin: 0 0 var(--spacing-medium) 0;
}

.hero p {
  margin: 0 0 var(--spacing-medium) 0;
}

.hero img {
  border-radius: 10px;
  margin-top: var(--spacing-medium);
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.hero .hero-contact-button {
  margin: 0 auto 0 auto;
  /* margin: 0 auto var(--spacing-medium) auto; */
  width: 80%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.hero .hero-contact-button {
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 6px;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 2rem;
  position: relative;
  text-decoration: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 400ms;
  overflow: hidden;
  /* box-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color), inset 0 0 2px var(--primary-color),
    inset 0 0 4px var(--primary-color), inset 0 0 8px var(--primary-color);
  text-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color); */
}

.hero-contact-button span {
  display: block;
  position: absolute;
}
.hero-contact-button span:nth-child(1) {
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--primary-color)
  );
  transform: translateX(-100%);
  animation: slide-border-top 1000ms linear infinite;
}
@keyframes slide-border-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.hero-contact-button span:nth-child(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--primary-color)
  );
  transform: translateY(-100%);
  animation: slide-border-right 1000ms linear infinite 500ms;
}
@keyframes slide-border-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.hero-contact-button span:nth-child(3) {
  bottom: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to left, transparent, var(--primary-color));
  transform: translateX(100%);
  animation: slide-border-bottom 1000ms linear infinite 1000ms;
}
@keyframes slide-border-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-contact-button span:nth-child(4) {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-image: linear-gradient(to top, transparent, var(--primary-color));
  transform: translateY(100%);
  animation: slide-border-left 1000ms linear infinite 1500ms;
}
@keyframes slide-border-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.hero-contact-button:hover {
  color: white;
  color: var(--background);
  background-color: var(--primary-color);
  box-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color), 0 0 16px var(--primary-color),
    0 0 32px var(--primary-color);
}

.hero-contact-button a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}

.hero-contact-button:hover a {
  color: var(--on-primary);
}

/* Projects Section Styles */

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.projects .project-card {
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  background-color: var(--background);
  border-radius: 10px;
  text-align: center;
}

.projects .project-card .project-logo {
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-variant)
  );
  font-size: 5rem;
  margin-bottom: var(--spacing-medium);
  color: var(--on-primary);
  border-radius: 10px;
}

.projects .project-card a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: var(--spacing-medium);
  /* margin: var(--spacing-medium); */
}

.projects .project-card a:hover {
  color: var(--secondary-color);
}

/* Components Section Styles */

/* A line that separates each individual component */
/* in the components section. */
.component-separator {
  height: 3px;
  width: 60%;
  background-color: var(--primary-variant);
  margin: var(--spacing-large) auto;
}

.components h3 {
  font-size: var(--h3-size);
  color: var(--h3-color);
  font-family: "Audiowide", sans-serif;
}

.components .button-gallery,
.components .loading-screen-gallery,
.components .icon-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-large);
}

/* Components Button Styles */

.button-gallery button {
  cursor: pointer;
  border: 5px solid var(--primary-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  width: 100%;
  /* overflow: hidden; */
}

.button-1 {
  background-color: var(--primary-color);
  color: var(--on-primary);
  position: relative;
  overflow: hidden;
}

.button-1::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: var(--on-primary);
  transform: translateX(-100%) rotate(-45deg);
  transition: transform 400ms;
}

.button-1:hover::before {
  transform: translateX(100%) rotate(-45deg);
}

.button-2 {
  background-color: transparent;
  color: var(--primary-color);
  position: relative;
  transition-property: color;
  transition-duration: 400ms;
  overflow: hidden;
  z-index: 1;
}

.button-2:hover {
  color: var(--on-primary);
}

.button-2::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  transition-property: transform;
  transition-duration: 400ms;
  background-color: var(--primary-variant);
  z-index: -1;
}

.button-2:hover::before {
  transform: translate(0%, 0%);
}

.button-2::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%);
  transition-property: transform;
  transition-duration: 400ms;
  background-color: var(--primary-color);
  z-index: -1;
}

.button-2:hover::after {
  transform: translate(0%, 0%);
}

.button-3 {
  background-color: transparent;
  color: var(--primary-color);
  position: relative;
  box-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color), inset 0 0 2px var(--primary-color),
    inset 0 0 4px var(--primary-color), inset 0 0 8px var(--primary-color);
  text-shadow: 0 0 2px var(--primary-color);
  transition: background-color 400ms, box-shadow 400ms, text-shadow 400ms;
}

.button-3:hover {
  color: var(--on-primary);
  background-color: var(--primary-color);
  box-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color), 0 0 16px var(--primary-color),
    0 0 32px var(--primary-color);
  text-shadow: 0 0 2px var(--background);
}

.button-3::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  transform: perspective(5rem) rotateX(45deg);
  filter: blur(1rem);
  opacity: 0;
}

.button-3:hover::after {
  opacity: 0.3;
}

.button-4 {
  color: var(--primary-color);
  background-color: transparent;
  position: relative;
}

.button-4 span {
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  color: var(--primary-color);
  font-size: 2rem;
  transition: all 0.3s ease;
}

.button-4:hover span {
  animation: back 1s infinite;
}

@keyframes back {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.button-5 {
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-variant),
    var(--secondary-color),
    var(--primary-color),
    var(--primary-variant),
    var(--secondary-color),
    var(--primary-variant),
    var(--primary-color)
  );
  background-size: 400%;
  animation-name: rove;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}

@keyframes rove {
  0% {
    background-position: top left;
  }
  25% {
    background-position: top right;
  }
  50% {
    background-position: bottom right;
  }
  75% {
    background-position: bottom left;
  }
  100% {
    background-position: top left;
  }
}

/* Dark/Light Mode Colour Theme Button Styles */
.color-theme-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: var(--primary-color);
  color: var(--on-primary);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms, color 300ms;
}

.color-theme-button img {
  width: 24px;
  height: 24px;
}

.loading-screen-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  gap: var(--spacing-medium);
}

.loading-screen-gallery .loading-screen-card {
  position: relative;
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-screen-1 {
  position: relative;
  width: var(--loading-screen-width);
  height: var(--loading-screen-height);
  background-image: conic-gradient(
    from 0deg,
    var(--primary-color),
    var(--primary-variant),
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 50%;
  /* box-shadow: var(--box-shadow); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen-1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: var(--background);
  box-shadow: inset var(--box-shadow);
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
  border-radius: 50%;
}

.loading-screen-1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--on-background);
  /* font-size: 1.5rem; */
}

.loading-screen-1-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--on-background);
  /* background-color: var(--background); */
  font-size: 1.5rem;
  z-index: 1;
}

.loading-screen-2 {
  position: relative;
  /* width: 200px;
  height: 200px; */
  width: var(--loading-screen-width);
  height: var(--loading-screen-height);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* color: var(--on-background); */
  color: white;
  background-color: var(--background);
  text-shadow: 0px 0px 4px var(--primary-color),
    0px 0px 8px var(--primary-color), 0px 0px 16px var(--primary-color);
  overflow: hidden;
}

/* Vertical Light Bar */
.loading-screen-2::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 6rem;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  /* background-color: var(--on-background); */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px var(--primary-color), 0px 0px 8px var(--primary-color),
    0px 0px 16px var(--primary-color);
  transform-origin: top center;
  animation: move-bar 5000ms linear infinite;
  z-index: 2;
}

@keyframes move-bar {
  0% {
    transform: scaleY(0) translate(0%, -50%);
  }
  10% {
    transform: scaleY(1) translate(0%, -50%);
  }
  90% {
    transform: scaleY(1)
      translate(calc(var(--loading-screen-width) - 12px), -50%);
  }
  100% {
    transform: scaleY(0)
      translate(calc(var(--loading-screen-width) - 12px), -50%);
  }
}

.loading-screen-2::after {
  content: "";
  position: absolute;
  width: calc(var(--loading-screen-width) - 12px);
  height: 6rem;
  right: 0%;
  top: 50%;
  /* transform: translate(0%, -50%); */
  transform: translate(calc((var(--loading-screen-width) * -1) + 6px), -50%);
  background-color: var(--background);
  border-radius: 10px;
  animation: move-cover 10000ms linear infinite;
  z-index: 1;
}

@keyframes move-cover {
  0%,
  5% {
    transform: translate(calc((var(--loading-screen-width) * -1) + 6px), -50%);
  }
  45%,
  50% {
    transform: translate(-6px, -50%);
  }
  50.0001% {
    transform: translate(-6px, -50%);
  }
  55% {
    transform: translate(-6px, -50%);
  }
  95%,
  100% {
    transform: translate(calc(var(--loading-screen-width) - 18px), -50%);
  }
}

.loading-screen-3 {
  position: relative;
  width: calc(var(--loading-screen-width) / 1.41);
  height: calc(var(--loading-screen-height) / 1.41);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: blue;
  /* background-color: yellowgreen; */
  /* transform: scale(1.2); */
  animation-name: rotate-squares;
  /* change-square-color; */
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
}

@keyframes rotate-squares {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.loading-screen-3 span {
  position: absolute;
  height: 60px;
  width: 60px;
  z-index: 3;
  animation-name: rotate-square;
  /* change-square-color; */
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
}

.loading-screen-3 span:nth-child(1) {
  top: 0;
  left: 0;
  background-color: var(--primary-color);
}

.loading-screen-3 span:nth-child(2) {
  top: 0;
  right: 0;
  background-color: var(--primary-variant);
  /* animation-delay: 500ms; */
}

.loading-screen-3 span:nth-child(3) {
  bottom: 0;
  right: 0;
  background-color: var(--primary-color);
  /* animation-delay: 1000ms; */
}
.loading-screen-3 span:nth-child(4) {
  bottom: 0;
  left: 0;
  background-color: var(--primary-variant);
  /* animation-delay: 1500ms; */
}

@keyframes change-square-color {
  0% {
    background-color: black;
  }
  25% {
    background-color: orangered;
  }
  50% {
    background-color: orangered;
  }
  75% {
    background-color: orangered;
  }
  100% {
    background-color: black;
  }
}

@keyframes rotate-square {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
/*
.loading-screen-3 {
  position: relative;
  width: 300px;
  height: 300px;
  border: #0f7fa1 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}

.loading-screen-3 span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0f7fa1;
  border-radius: 50%;
  animation: bounce 2000ms ease-in-out infinite;
}
*/

.icon-gallery {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.icon-gallery .icon-card {
  position: relative;
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.symbol-screen-1 {
  position: relative;
  /* width: 300px;
  height: 300px; */
  width: var(--loading-screen-width);
  height: var(--loading-screen-height);
  font-size: 3rem;
  line-height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.symbol-screen-1 img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  /* object-fit: cover; */
  margin-top: var(--spacing-medium);
  /* box-shadow: var(--box-shadow); */
  animation: wobble 1000ms infinite;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg) scale(1);
  }
  15% {
    transform: rotate(15deg) scale(1.2);
  }
  30% {
    transform: rotate(-15deg) scale(1.2);
  }
  45% {
    transform: rotate(10deg) scale(1.2);
  }
  60% {
    transform: rotate(-10deg) scale(1.2);
  }
  75% {
    transform: rotate(5deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.symbol-screen-1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  animation: ring 2000ms infinite;
}
.symbol-screen-1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  animation: ring 2000ms infinite 1000ms;
}

@keyframes ring {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}

.symbol-screen-1::after {
  content: "";
  position: absolute;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(45deg) scaleX(2) translateX(-50%);
}

.symbol-screen-2 {
  position: relative;
  width: 300px;
  height: 300px;
  width: var(--loading-screen-width);
  height: var(--loading-screen-height);
  font-size: 3rem;
  line-height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.symbol-screen-2 img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-top: var(--spacing-medium);
  animation: beat 1000ms infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.symbol-container-3 {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 300px;
  height: 300px;
  font-size: 5rem;
  line-height: 0%;
  border: rgb(0, 255, 102) 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@keyframes shake {
  0% {
    transform: scale(1) rotate(0deg);
  }
  45% {
    transform: scale(1.5) rotate(10deg);
  }
  50% {
    transform: scale(1.5) rotate(-10deg);
  }
  55% {
    transform: scale(1.5) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.symbol-container-3 span {
  animation: shake 1200ms infinite;
}

/* Contact Section Styles */

#contact {
  /* padding: var(--spacing-large) var(--spacing-jumbo); */
  /* The following line is only here while the site is under construction. */
  /* margin: var(--spacing-jumbo) 0 calc(3 * var(--spacing-jumbo)) 0; */
  /* padding: var(--spacing-jumbo); */
}

.contact-form {
  width: 100%;
  margin: var(--spacing-medium) 0;
  padding: var(--spacing-medium);
  /* box-shadow: var(--box-shadow); */
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 20px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  /* text-align: center; */
  /* width: 300px; */
}

.contact-form h2 {
  text-align: center;
}

input,
button,
textarea {
  font: inherit;
}

.contact-form .form-group {
  padding: var(--spacing-medium) 0;
}

.contact-form .form-group label {
  display: block;
  width: 100%;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  display: block;
  width: 100%;
  border-radius: var(--button-border-radius);
  border: none;
  box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.25),
    inset -2px -2px 8px rgba(0, 0, 0, 0.75);
}

/* .contact-form .form-group textarea {
  display: block;
  width: 100%;
  border-radius: var(--button-border-radius);
} */

.contact-form .contact-form-button {
  font-size: 2rem;
  font-weight: bold;
  /* text-shadow: 1px 1px 0 black; */
  color: var(--background);
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
  width: 100%;
  /* background: linear-gradient(white, darkgray); */
  /* box-shadow: inset 0 6px 1px 0 rgba(0, 0, 0, 0.35),
    0 5px 5px rgba(0, 0, 0, 0.5),
   0 15px 25px rgba(0, 0, 0, 0.35);  */
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 20px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75), 0 0 10px var(--on-background);
  margin: var(--spacing-large) 0;
}

.contact-form .contact-form-button:hover {
  cursor: pointer;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
    10px 10px 70px rgba(0, 0, 0, 0.25),
    inset 5px 5px 20px rgba(255, 255, 255, 0.25),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75), 0 0 30px var(--on-background);
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: var(--on-primary);
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  font-size: var(--footer-font-size);
}

.main-container {
  width: 80%;
  max-width: var(--breakpoint-desktop);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-navigation .hamburger-button {
  display: none;
}

.header-navigation .header-navigation-links-mobile {
  display: none;
}

/* Media Queries. */
@media screen and (max-width: 1200px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .components .button-gallery,
  .components .loading-screen-gallery,
  .components .icon-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects h2,
  .components h2,
  .contact-form h2 {
    font-size: 2rem;
  }
}

/* The hero section breaks at 950px. */
/* The loading screen gallery breaks at 900px. */
@media screen and (max-width: 900px) {
  .main-container {
    width: 90%;
  }
  .hero {
    grid-template-columns: repeat(4, 1fr);
  }
  .hero .hero-text {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero .hero-image {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .hero .hero-contact-button {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .projects-container,
  .components .button-gallery,
  .components .loading-screen-gallery,
  .components .icon-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* The hero section breaks again at 800px. */
@media screen and (max-width: 800px) {
  .main-container {
    width: 100%;
  }
  .hero h1 {
    font-size: 2rem;
  }
}

/* The hero section breaks again at 650px. */
@media screen and (max-width: 650px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero .hero-text {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero img {
    display: none;
  }
  .hero .hero-contact-button {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

/* THE HAMBURGER GOES HERE!!! */
@media screen and (max-width: 769px) {
  /* The header links and color themes can now be changed from the hamburger menu. */
  .color-theme-button,
  .header-navigation .header-navigation-links,
  .header-navigation .header-navigation-contact {
    display: none;
  }

  /* The hamburger menu. */
  .header-navigation .hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50px;
    width: 50px;
    transition-property: width transform;
    transition-duration: 400ms;
    position: relative;
    z-index: var(--navbar-z-index);
  }

  .header-navigation .hamburger-button:hover {
    cursor: pointer;
  }

  .header-navigation .hamburger-button .hamburger-button-bar {
    height: 4px;
    width: 24px;
    background-color: var(--primary-color);
    border-radius: 4px;
    transform-origin: center center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25),
      0px 0px 10px rgba(0, 0, 0, 0.25),
      inset 1px 1px 4px rgba(255, 255, 255, 0.25),
      inset -1px -1px 3px rgba(0, 0, 0, 0.75);
    transition-property: width transform;
    transition-duration: 400ms;
  }

  .rotate-hamburger {
    transform: rotate(360deg);
  }

  .move-hamburger-bar-1 {
    width: calc(sqrt(2) * 20px);
    transform: translateY(8px) rotate(45deg);
  }

  .move-hamburger-bar-2 {
    transform: scaleX(0);
  }

  .move-hamburger-bar-3 {
    width: calc(sqrt(2) * 20px);
    transform: translateY(-8px) rotate(-45deg);
  }

  .header-navigation .header-navigation-links-mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    transition-property: transform;
    transition-duration: 400ms;
  }

  /* .header-navigation .header-navigation-links-mobile {
    position: relative;
    height: 300px;
    background-color: rgb(255 255 255 / 90%);
    background-color: var(--header-color);
    z-index: var(--mobile-drawer-z-index);
    box-shadow: var(--box-shadow);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-100%);
  } */

  .header-navigation .move-drawer {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    width: 100%;
    max-width: var(--breakpoint-desktop);
  }
  .hero .hero-contact-button {
    font-size: 1.2rem;
  }
}
