:root {
  /* Header Variables */
  --header-color: #121212;
  --header-height: 60px;

  /* Light Theme Color Variables */

  --primary-color: #195fb8;
  --primary-variant: #39bff9;
  --secondary-color: #6c63ff;
  --on-primary: rgb(250, 250, 250);
  --background: rgb(255, 255, 255);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-jumbo: 64px;

  /* Media Query Breakpoints */
  --breakpoint-mobile: 480px; /* 320px — 480px: Mobile devices */
  --breakpoint-tablet: 768px; /* 481px — 768px: iPads, Tablets */
  --breakpoint-laptop: 1024px; /* 769px — 1024px: Small screens, laptops */
  --breakpoint-desktop: 1200px; /* 1025px — 1200px: Desktops, large screens */
  --breakpoint-tv: 1201px; /* 1201px and more —  Extra large screens, TV */

  /* h1 to h6 Information */
  --h1-size: 3rem;
  --h2-size: 2.5rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --h1-color: var(--primary-color);
  --h2-color: var(--primary-color);
  --h3-color: var(--primary-variant);
  --h4-color: var(--primary-color);

  /* Font Sizes */
  --button-font-size: 2rem;
  --footer-font-size: 2rem;

  /* Button Variables */
  --button-border-radius: 6px;
  --button-padding: 1rem 2rem;
  --button-font-weight: bold;
  --button-text-transform: uppercase;

  /* Footer Variables */
}

.dark-mode-colors {
  --primary-color: #39bff9;
  --primary-variant: #195fb8;
  --secondary-color: #6c63ff;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
  --h1-color: var(--primary-color);
  --h2-color: var(--primary-color);
  --h3-color: var(--primary-variant);
  --h4-color: var(--primary-color);
}

/* Purple Color Palette from https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff */
/*
--russian-violet: #10002bff;
--russian-violet-2: #240046ff;
--persian-indigo: #3c096cff;
--tekhelet: #5a189aff;
--french-violet: #7b2cbfff;
--amethyst: #9d4eddff;
--heliotrope: #c77dffff;
--mauve: #e0aaffff;
*/

/* Blue Color Palette from https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8 */
/* Ocean Blue Serenity Color Palette */
/*
--federal-blue: #03045eff;
--marian-blue: #023e8aff;
--honolulu-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-cyan: #00b4d8ff;
--vivid-sky-blue: #48cae4ff;
--non-photo-blue: #90e0efff;
--non-photo-blue-2: #ade8f4ff;
--light-cyan: #caf0f8ff;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
  background-color: var(--background);
  color: var(--on-background);
  max-width: var(--breakpoint-desktop);
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--spacing-small) var(--spacing-medium);
  /* background-color: var(--header-color); */
  background-color: rgb(255 255 255 / 50%);
}

.header-navigation-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* .header-navigation .header-navigation-logo {} */

.header-navigation .header-navigation-links {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--spacing-large);
  list-style: none;
}

.header-navigation .header-navigation-links li {
  position: relative;
}

.header-navigation .header-navigation-links li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  background-color: var(--primary-color);
  height: 0;
  transform: translate(-50%, -50%);
  transition: height 0.3s ease, width 0.3s ease;
}

.header-navigation .header-navigation-links li:hover::before {
  height: 150%;
  width: calc(100% + 30px);
  color: var(--primary-variant);
  z-index: -1;
}

.header-navigation .header-navigation-links li a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.header-navigation .header-navigation-links li:hover a {
  color: var(--on-primary);
}

.header-navigation-contact {
  text-transform: uppercase;
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--on-primary);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.header-navigation-contact::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: var(--on-primary);
  transform: translateX(-110%) rotate(-45deg);
  transition: transform 400ms;
}

.header-navigation-contact:hover::before {
  transform: translateX(100%) rotate(-45deg);
}

/* Main Content Styles */

/* section {
  margin-top: var(--header-height);
  padding: var(--header-height) 0 0 0;
} */

/* Hero Section Styles */
#hero {
  /* height: 100vh; */
  margin: var(--spacing-jumbo) 0;
  padding: var(--spacing-jumbo);
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--spacing-medium);
  margin: auto;
}

.hero .hero-text {
  /* max-width: 600px; */
  /* overflow: hidden; */
}

.hero h1 {
  font-size: 3rem;
  /* margin-bottom: var(--spacing-medium); */
  color: var(--h1-color);
  margin: 0 0 var(--spacing-medium) 0;
}

.hero p {
  margin: 0 0 var(--spacing-medium) 0;
}

.hero .hero-contact-button {
  margin: 0 auto var(--spacing-medium) auto;
  max-width: 400px;
}

.hero img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  /* object-fit: cover; */
  margin-top: var(--spacing-medium);
  /* box-shadow: var(--box-shadow); */
}

.hero .hero-contact-button {
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 6px;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  transition-property: color, background-color, box-shadow;
  transition-duration: 400ms;
  overflow: hidden;
}

.hero-contact-button span {
  display: block;
  position: absolute;
}
.hero-contact-button span:nth-child(1) {
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--primary-color)
  );
  transform: translateX(-100%);
  animation: slide-border-top 1000ms linear infinite;
}
@keyframes slide-border-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.hero-contact-button span:nth-child(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background-image: linear-gradient(
    to bottom,
    transparent,
    var(--primary-color)
  );
  transform: translateY(-100%);
  animation: slide-border-right 1000ms linear infinite 500ms;
  /* animation-delay: 1000ms; */
}
@keyframes slide-border-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.hero-contact-button span:nth-child(3) {
  bottom: 0;
  right: 0;
  height: 3px;
  width: 100%;
  background-image: linear-gradient(to left, transparent, var(--primary-color));
  transform: translateX(100%);
  animation: slide-border-bottom 1000ms linear infinite 1000ms;
}
@keyframes slide-border-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.hero-contact-button span:nth-child(4) {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-image: linear-gradient(to top, transparent, var(--primary-color));
  transform: translateY(100%);
  animation: slide-border-left 1000ms linear infinite 1500ms;
}
@keyframes slide-border-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.hero-contact-button:hover {
  color: white;
  color: var(--background);
  background-color: var(--primary-color);
  box-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color), 0 0 16px var(--primary-color),
    0 0 32px var(--primary-color);
}

/* Projects Section Styles */
#projects {
  /* height: 100vh; */
  /* margin: var(--spacing-medium) 0; */
  padding: var(--spacing-large) var(--spacing-jumbo);
  /* border: 1px solid var(--on-background-alt); */
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-medium);
  color: var(--h2-color);
}

.projects p {
  margin-bottom: var(--spacing-medium);
  color: var(--on-background);
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: var(--spacing-medium);
}

.projects .project-card {
  margin: var(--spacing-medium) 0;
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.projects .project-card .project-logo {
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--primary-variant)
  );
  font-size: 5rem;
  margin-bottom: var(--spacing-medium);
  color: var(--on-primary);
  border-radius: 10px;
}

.projects .project-card a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: var(--spacing-medium);
}

.projects .project-card a:hover {
  color: var(--secondary-color);
}

/* Components Section Styles */
#components {
  /* height: 100vh; */
  /* margin: var(--spacing-large) 0; */
  padding: var(--spacing-large) var(--spacing-jumbo);
  /* border: 1px solid var(--on-background-alt); */
}

.components h2 {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-medium);
  color: var(--h2-color);
}

.components p {
  margin-bottom: var(--spacing-medium);
  color: var(--on-background);
}

.components h3 {
  margin-bottom: var(--spacing-medium);
  font-size: var(--h3-size);
  color: var(--h3-color);
}

.components .button-gallery,
.components .loading-screen-gallery,
.components .icons-gallery {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: var(--spacing-medium);
  flex-wrap: wrap;
  margin-bottom: var(--spacing-large);
}

/* Components Button Styles */

.button-gallery button {
  cursor: pointer;
  border: 5px solid var(--primary-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
}

.button-1 {
  background-color: var(--primary-color);
  color: var(--on-primary);
  position: relative;
  overflow: hidden;
}

.button-1::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: var(--on-primary);
  transform: translateX(-100%) rotate(-45deg);
  transition: transform 400ms;
}

.button-1:hover::before {
  transform: translateX(100%) rotate(-45deg);
}

.button-2 {
  background-color: transparent;
  color: var(--primary-color);
  position: relative;
  transition-property: color;
  transition-duration: 400ms;
  overflow: hidden;
  z-index: 2;
}

.button-2:hover {
  color: var(--on-primary);
}

.button-2::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  transition-property: transform;
  transition-duration: 400ms;
  background-color: var(--primary-variant);
  z-index: -1;
}

.button-2:hover::before {
  transform: translate(0%, 0%);
}

.button-2::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%);
  transition-property: transform;
  transition-duration: 400ms;
  background-color: var(--primary-color);
  z-index: -1;
}

.button-2:hover::after {
  transform: translate(0%, 0%);
}

.button-3 {
  background-color: transparent;
  color: var(--primary-color);
  position: relative;
  /* box-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color), inset 0 0 2px var(--primary-color),
    inset 0 0 4px var(--primary-color), inset 0 0 8px var(--primary-color); */
  /* text-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color); */
  transition: background-color 400ms, box-shadow 400ms, text-shadow 400ms;
}

.button-3:hover {
  color: var(--on-primary);
  background-color: var(--primary-color);
  box-shadow: 0 0 2px var(--primary-color), 0 0 4px var(--primary-color),
    0 0 8px var(--primary-color), 0 0 16px var(--primary-color),
    0 0 32px var(--primary-color);

  /* text-shadow: 0 0 2px black, 0 0 4px black, 0 0 8px black; */
}

.button-3::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-color);
  transform: perspective(5rem) rotateX(45deg);
  filter: blur(1rem);
  opacity: 0;
}

.button-3:hover::after {
  opacity: 0.3;
}

.button-4 {
  color: var(--primary-color);
  background-color: transparent;
  position: relative;
}

.button-4 span {
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  color: var(--primary-color);
  font-size: 2rem;
  transition: all 0.3s ease;
}

.button-4:hover span {
  animation: back 1s infinite;
}

@keyframes back {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Colour Theme Button Styles */
.color-theme-button {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: var(--primary-color);
  color: var(--on-primary);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms, color 300ms;
}
/*
.dark-mode-toggle:hover {
  background-color: var(--primary-variant);
  color: var(--on-primary);
}
.dark-mode-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--on-primary);
}
*/
.color-theme-button img {
  width: 24px;
  height: 24px;
}

/*  */
/*
.loading-screen-gallery p {
  margin-bottom: var(--spacing-medium);
  color: var(--on-background);
}
*/
.loading-screen-gallery {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: var(--spacing-medium);
}

.loading-screen-gallery .loading-screen-card {
  position: relative;
  margin: var(--spacing-medium) 0;
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  */
/*
.loading-screen-gallery .loading-screen-card .loading-screen-container-1 {
  position: relative;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--on-background-alt);
}
*/

.loading-screen-1 {
  position: relative;
  width: 10rem;
  height: 10rem;
  background-image: conic-gradient(
    from 0deg,
    var(--primary-color),
    var(--primary-variant),
    var(--primary-color)
  );
  border-radius: 50%;
  /* box-shadow: var(--box-shadow); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen-1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: white;
  box-shadow: inset var(--box-shadow);
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
  border-radius: 50%;
}

.loading-screen-1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--on-background);
  /* font-size: 1.5rem; */
}

.loading-screen-1-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--on-background);
  font-size: 1.5rem;
  z-index: 100;
}

.loading-container-2 {
  position: relative;
  width: 10rem;
  height: 10rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  /* overflow: hidden; */
}

/* Vertical Light Bar */
.loading-screen-2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 40%;
  left: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: white;
  border-radius: 10px;
  transform-origin: top center;
  animation: move-bar 5000ms linear infinite;
}

@keyframes move-bar {
  0% {
    transform: scaleY(0) translate(0%, -50%);
  }
  10% {
    transform: scaleY(1) translate(0%, -50%);
  }
  90% {
    transform: scaleY(1) translate(280px, -50%);
  }
  100% {
    transform: scaleY(0) translate(280px, -50%);
  }
}

.loading-screen-2::after {
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  height: 30%;
  right: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: black;
  border-radius: 10px;
  animation: move-cover 10000ms linear infinite;
}

@keyframes move-cover {
  0%,
  5% {
    transform: translate(-300px, -50%);
  }
  45%,
  50% {
    transform: translate(calc(-20px), -50%);
  }
  50.0001% {
    transform: translate(calc(0px), -50%);
  }
  55% {
    transform: translate(calc(0px), -50%);
  }
  95%,
  100% {
    transform: translate(calc(280px), -50%);
  }
}

.loading-screen-3 {
  position: relative;
  width: 300px;
  height: 300px;
  border: #0f7fa1 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
}

.loading-screen-3 span {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #0f7fa1;
  border-radius: 50%;
  animation: bounce 2000ms ease-in-out infinite;
}

.symbol-screen-1 {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 300px;
  height: 300px;
  font-size: 3rem;
  line-height: 0%;
  border: #ff0 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40, 0, 0);
}

.symbol-screen-1 img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  /* object-fit: cover; */
  margin-top: var(--spacing-medium);
  /* box-shadow: var(--box-shadow); */
  animation: wobble 1000ms infinite;
}

@keyframes wobble {
  0% {
    transform: rotate(0deg) scale(1);
  }
  15% {
    transform: rotate(15deg) scale(1.2);
  }
  30% {
    transform: rotate(-15deg) scale(1.2);
  }
  45% {
    transform: rotate(10deg) scale(1.2);
  }
  60% {
    transform: rotate(-10deg) scale(1.2);
  }
  75% {
    transform: rotate(5deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.symbol-screen-1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  animation: ring 2000ms infinite;
}
.symbol-screen-1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  animation: ring 2000ms infinite 1000ms;
}

@keyframes ring {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 0;
  }
}

.symbol-screen-1::after {
  content: "";
  position: absolute;
  /* top: 0;
  left: 0;
  width: 50%;
  height: 50%; */
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(45deg) scaleX(2) translateX(-50%);
}

.symbol-container-2 {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 300px;
  height: 300px;
  font-size: 4rem;
  line-height: 0%;
  border: #0ff 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #0ff;
  /* animation: beat 1000ms infinite; */
}

.symbol-container-2 span {
  animation: beat 1000ms infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.symbol-container-3 {
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 300px;
  height: 300px;
  font-size: 5rem;
  line-height: 0%;
  border: rgb(0, 255, 102) 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@keyframes shake {
  0% {
    transform: scale(1) rotate(0deg);
  }
  45% {
    transform: scale(1.5) rotate(10deg);
  }
  50% {
    transform: scale(1.5) rotate(-10deg);
  }
  55% {
    transform: scale(1.5) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
.symbol-container-3 span {
  animation: shake 1200ms infinite;
}

/* Contact Section Styles */
#contact {
  padding: var(--spacing-large) var(--spacing-jumbo);
  margin: var(--spacing-jumbo) 0 calc(3 * var(--spacing-jumbo)) 0;
  /* padding: var(--spacing-jumbo); */
}

.contact {
  width: 80%;
  margin: var(--spacing-medium) 0;
  padding: var(--spacing-medium);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  /* text-align: center; */
  /* width: 300px; */
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: var(--spacing-medium);
  color: var(--h2-color);
}

input,
button,
textarea {
  font: inherit;
}

.contact-form .form-group {
  padding: var(--spacing-medium) 0;
}

.contact-form .form-group label {
  display: block;
  width: 100%;
}

.contact-form .form-group input {
  display: block;
  width: 100%;
  border-radius: var(--button-border-radius);
}

.contact-form .form-group textarea {
  display: block;
  width: 100%;
  border-radius: var(--button-border-radius);
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: var(--on-primary);
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: var(--spacing-jumbo);
  font-size: var(--footer-font-size);
}
